<%= form_for(@ab_phone) do |f| %>
  <% if @ab_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ab_phone.errors.count, "error") %> prohibited this ab_phone from being saved:</h2>

      <ul>
      <% @ab_phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abmaster_id %><br>
    <%= f.number_field :abmaster_id %>
  </div>
  <div class="field">
    <%= f.label :effectivedate %><br>
    <%= f.date_select :effectivedate %>
  </div>
  <div class="field">
    <%= f.label :phonetype %><br>
    <%= f.text_field :phonetype %>
  </div>
  <div class="field">
    <%= f.label :phonenum %><br>
    <%= f.number_field :phonenum %>
  </div>
  <div class="field">
    <%= f.label :preferred %><br>
    <%= f.check_box :preferred %>
  </div>
  <div class="field">
    <%= f.label :invalid %><br>
    <%= f.check_box :invalid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
