<h1>Listing ab_phones</h1>

<table>
  <thead>
    <tr>
      <th>Abmaster</th>
      <th>Effectivedate</th>
      <th>Phonetype</th>
      <th>Phonenum</th>
      <th>Preferred</th>
      <th>Invalid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ab_phones.each do |ab_phone| %>
      <tr>
        <td><%= ab_phone.abmaster_id %></td>
        <td><%= ab_phone.effectivedate %></td>
        <td><%= ab_phone.phonetype %></td>
        <td><%= ab_phone.phonenum %></td>
        <td><%= ab_phone.preferred %></td>
        <td><%= ab_phone.invalid %></td>
        <td><%= link_to 'Show', ab_phone %></td>
        <td><%= link_to 'Edit', edit_ab_phone_path(ab_phone) %></td>
        <td><%= link_to 'Destroy', ab_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ab phone', new_ab_phone_path %>
