<%= form_for(@ab_relationship) do |f| %>
  <% if @ab_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ab_relationship.errors.count, "error") %> prohibited this ab_relationship from being saved:</h2>

      <ul>
      <% @ab_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abmaster_id %><br>
    <%= f.number_field :abmaster_id %>
  </div>
  <div class="field">
    <%= f.label :relatedto_id %><br>
    <%= f.number_field :relatedto_id %>
  </div>
  <div class="field">
    <%= f.label :relationtype %><br>
    <%= f.text_field :relationtype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
