<p id="notice"><%= notice %></p>

<p>
  <strong>Membercode:</strong>
  <%= @ab_master.membercode %>
</p>

<p>
  <strong>Salutation:</strong>
  <%= @ab_master.salutation %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @ab_master.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @ab_master.middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @ab_master.lastname %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ab_master.type %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @ab_master.dob %>
</p>

<p>
  <strong>Group:</strong>
  <%= @ab_master.group %>
</p>

<p>
  <strong>Subgroup1:</strong>
  <%= @ab_master.subgroup1 %>
</p>

<p>
  <strong>Subgroup2:</strong>
  <%= @ab_master.subgroup2 %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @ab_master.inactive %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ab_master.status %>
</p>

<%= link_to 'Edit', edit_ab_master_path(@ab_master) %> |
<%= link_to 'Back', ab_masters_path %>
