<p id="notice"><%= notice %></p>

<p>
  <strong>Abmaster:</strong>
  <%= @ab_reltionship.abmaster_id %>
</p>

<p>
  <strong>Relatedto:</strong>
  <%= @ab_reltionship.relatedto_id %>
</p>

<p>
  <strong>Relationtype:</strong>
  <%= @ab_reltionship.relationtype %>
</p>

<%= link_to 'Edit', edit_ab_reltionship_path(@ab_reltionship) %> |
<%= link_to 'Back', ab_reltionships_path %>
